<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/cells-atom-icon/cells-atom-icon.html">
<link rel="import" href="../../bower_components/coronita-icons/coronita-icons.html">

<link rel="import" href="users-ui-styles.html">


<dom-module id="users-ui">
  <template>
      <style include="users-ui-styles"></style>

    <iron-ajax
      auto="" 
      id="obtenerUsuarios"
      url="http://img-api-v1-techu-back-end.1d35.starter-us-east-1.openshiftapps.com/api-uruguay/v1/users"
      handle-as="json"
      on-response="mostrarUsuarios">
    </iron-ajax>
    
    <iron-list id="list" items="[[usuarios]]" as="item" autoRefresh selection-enabled multi-selection>
        <template>
          <div>
            <div class$="[[getClassForItem(item, selected)]]" tabindex$="[[tabIndex]]">
              <cells-atom-icon class="ok_icon" icon="coronita:correct" ></cells-atom-icon>
              <div class="pad">
                <div class="primary">[[item.first_name]] - [[item.last_name]] </div>
                <div class="shortText">[[item.userId]]</div>
                <div class="longText">[[item.email]]</div>
              </div>
            </div>
          </div>
        </template>
    </iron-list>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
      class UsersUi extends Polymer.Element {
        static get is() { return 'users-ui'; }
        static get properties() {
          return {
            usuarios: {
              type: Array
            }
          };
        };

        mostrarUsuarios(data) {
          this.usuarios = data.detail.response;
        };
        getClassForItem(item, selected) {
          return selected ? 'item expanded' : 'item';
        };

      }



    window.customElements.define(UsersUi.is, UsersUi);
  </script>
</dom-module>
