<dom-module id="users-ui-styles"><template><style>
@charset "UTF-8";
:host {
  box-sizing: border-box;
  display: block;
  font-family: var(--cells-fontDefault, sans-serif);
  --cells-operations-list-list__link-grid-padding: 20px 0.625rem;
  --cells-operations-list-list__link-padding: 20px 0.125rem;
  --cells-operations-list-list__link-active-color: var(--bbva-white-50);
  --cells-operations-list-list__link-active-background: transparent;
  --cells-operations-list-list__link-active-opacity: 1;
  --cells-operations-list-list__link-active-icon-opacity: .7;
  @apply --uy-api-tester-ui; }

:host([layout="grid"]) .cardless .link__icon {
  background-color: var(--bbva-dark-teal, #02A5A5); }

/* bg--light */
:host(.bg--light) {
  --cells-operations-list-list-overflow: hidden;
  --cells-operations-list-list-height: 3.5625rem;
  --cells-operations-list-list__link-color: var(--bbva-500, #666);
  --cells-operations-list-list__link-padding: 1.5rem 0.625rem 0;
  --cells-operations-list-list__link-height: 100%; }

/* review styles */
:host([layout="review"]) {
  margin-bottom: 20px; }

:host([layout="review"]) .list {
  background: transparent;
  -webkit-justify-content: center;
          justify-content: center; }

:host([layout="review"]) .list__item {
  text-align: center;
  height: 80%;
  max-width: var(--cells-operations-list-list-list-item-max-width, 80%); }

:host([layout="review"]) .list .link {
  color: var(--bbva-medium-blue, #237ABA);
  margin: 0 1.625rem;
  height: 2.8125rem;
  -webkit-justify-content: space-evenly;
          justify-content: space-evenly;
  font-size: var(--cells-text-size-12, 0.45rem);
  --cells-molecule-link-icon-atom-icon-width: 1.15rem;
  --cells-molecule-link-icon-atom-icon-height: 1.15rem; }

:host([layout="review"]) .list .link[aria-disabled] {
  color: var(--bbva-300, #D3D3D3); }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  box-sizing: inherit; }

:root {
  --cells-fontDefault: sans-serif;
  --cells-molecule-spinner-icon-color: black;
  --cells-molecule-spinner-message-color: black; }

iron-list {
  @apply --layout-flex;
  margin-top: 20px;
  /*
  --iron-list-items-container: {
    //max-width: 800px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
  };
  */ }

.uy_spinner__message {
  --cells-fontDefault: sans-serif;
  --cells-molecule-spinner-icon-color: black;
  --cells-molecule-spinner-message-color: black; }

.item {
  @apply --layout-horizontal;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  cursor: pointer;
  margin-bottom: 10px; }

.ok_icon {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #DDD;
  color: #388d4f; }

.error_icon {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: #DDD;
  color: #f35e61; }

.pad {
  padding: 0 12px;
  @apply --layout-flex;
  @apply --layout-vertical; }

.primary {
  font-size: 16px;
  font-weight: bold; }

.shortText, .longText {
  font-size: 14px; }

.longText {
  color: gray;
  display: none; }

.item:hover .shortText::after {
  content: ' [+]';
  color: gray; }

.item.expanded:hover .shortText::after {
  content: ''; }

.item.expanded .longText {
  display: block; }

.item.expanded:hover .longText::after {
  content: ' [–]'; }

.uy_buttons {
  display: table-cell; }


.uy_spinner__message {
  --cells-fontDefault: sans-serif;
  --cells-molecule-spinner-message-color: black;
}

</style></template></dom-module>