<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="users-ui">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UsersUi extends Polymer.Element {
      static get is() { return 'users-ui'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'users-ui'
          }
        };
      }
    }

    window.customElements.define(UsersUi.is, UsersUi);
  </script>
</dom-module>
